<% include ./partials/header %>
            <div class="jumbotron">
                <h1 class="display 4">Welcome to the notepad web app <%= currentUser.username %></h1>
                <span class="lead"> Start writing away, you'll love it.</span>
                <span class="auth">Sign out</span>
                <span class="auth">Login</span>
                <hr class="my-2">
                <button type="button" class="btn btn-dark" onclick="newNote()">New Note</button>
                
            </div>
            <div class="row" id="pageRow">
                <div id="left" class="rightBorder col-lg-3 col-sm-6 col-12">
                    <form class="newNote" action="/note/" method="POST" target="dummyframe" id="newNote">
                        <h6 class="textField">Text field below:</h6>
                        <input type="text" name="note[title]" id="title" class="form-control" placeholder="Title" value="hello">
                        <input type="text" name="note[text]"  id="textFill" class="form-control" placeholder="Text" value="world">
                        <input type="submit" id="save" required="required" class="btn btn-dark btn-sm" onclick="saveNote()">
                        <div id="delete" required="required" class="btn btn-secondary btn-sm" onclick="deleteNote()">Delete Note</div>
                    </form>
                </div>
                <div class="col-lg-9 col-sm-6 col-12" id="pastNotes">
                    <div class="row" id="holdNotes">
                    </div>
                </div> 
            </div>

            <!--Dummy iframe is used so that form does not redirect from the current page-->
            <iframe width="0" height="0"  name="dummyframe" id="dummyframe"></iframe>

<% include ./partials/footer %>
