body {
    background-color: #F3DADA;
    animation: bgColorTransition 30s infinite linear;
}

p {
    margin: 10% 10% 5% 10%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.cred {
    margin-top: 3%;
    padding: 2% 2% 2% 2%;
    margin-bottom: 10%;
    text-align: left;
    border: black solid 0.5px;
    border-radius: 5px;
}

.fa-user, .fa-fingerprint {
    margin-right: 3%;
    margin-bottom: 5%;
}

#editForm {
    width: 240px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 0px;
    border-radius: 15px;
    padding-left: 2%;
    padding-right: 2%;
    color: black;
    background-color: white;

    -webkit-animation: fadein 2s;   /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;      /* Firefox < 16 */
    -ms-animation: fadein 2s;       /* Internet Explorer */
    -o-animation: fadein 2s;        /* Opera < 12.1 */ 
    animation: fadein 2s;
}

#username #password {
    text-align: left;
}

#submit {
    width: 80%;
    text-align: center;
    margin: 10% 9% 0 9%;
}

#text-area {
    margin-top: 3%;
    resize: none;
    width: 180.67px;
    border: black solid 0.5px;
    border-radius: 5px;
}
#text-area:focus , .cred:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 4px rgb(248, 166, 118);
}

@keyframes bgColorTransition {
    0%   {background-color: #F3DADA;}
    15%  {background-color: #FDD29A;}
    30%  {background-color: #FEB58B;}
    45%  {background-color: rgb(248, 166, 118);}
    60%  {background-color: #FEB58B;}
    75%  {background-color: #FDD29A;}
    90%   {background-color: #F3DADA;}
  }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}